.background {
  fill: none;
  /*fill: rgb(239, 237, 245);*/
  stroke: black;
  stroke-width: 3.5px;
  pointer-events: all;
}

#states {
  fill: rgb(188, 189, 220);
  stroke: #fff;
  stroke-width: 1.25px;
  opacity: 0.85;
}

#states .active {
  /*fill: lightblue;*/
  /*fill: rgb(117, 107, 177);*/
  fill: rgba(0, 0, 0, 0.9);
}

.graticuleLine {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
  }
