/*.background {*/
/*    fill: none;*/
/*    !*fill: rgb(239, 237, 245);*!*/
/*    stroke: black;*/
/*    stroke-width: 3.5px;*/
/*    pointer-events: all;*/
/*}*/

/*.home{*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

.displayWindow{
    position: absolute;
    width: 100%;
    height: 900px;
    z-index: 1;
    /*border:3px solid #000;*/
}

.allStates {
    width: 100%;
    height: 900px;
    fill: rgb(188, 189, 220);
    stroke: #fff;
    stroke-width: 1.25px;
    opacity: 0.85;

}

.allStates .active {
    fill: rgba(0, 0, 0, 0.9);
}

.graticuleLine {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
}